Flask==3.0.3
Flask-Cors==4.0.1
python-dotenv==1.0.1
requests==2.32.3
numpy==1.26.4
setuptools==81.0.0
openai-whisper==20250625
torch==2.3.1
reportlab==4.2.2
python-docx==1.1.2
Werkzeug==3.0.3
Authlib==1.7.2
gunicorn==23.0.0